@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Teko:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&family=Permanent+Marker&display=swap');

* {
   box-sizing: border-box;
   font-family:'Oxygen', sans-serif;
   font-weight: 600;
}

html, body {
    margin: 0;
    padding: 0;
}
.wrapper {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;
}
.main-header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    transform-style: preserve-3d;
    z-index: -1;
    
}
.headerBG3, .headerBG2, .headerBG1 {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}
.headerBG3 {
    transform: translateZ(-20px) scale(3.05);
}
.headerBG2 {
    transform: translateZ(-10px) scale(2.02);
}
.headerBG1 {
    transform: translateZ(-5px) scale(1.5);
}
.links {
    background-color: #D3B5E5;
}
.nav ul {
    margin: 0;
}
.nav li {
    display: inline;
}
.nav a {
    display: inline-block;
    padding: .5em;
    color: #303030;
    font-family: 'Teko', sans-serif;
    font-weight: bold;
    text-decoration: none;
}
.nav a:hover {
    background-color: rgba(030, 030, 030, .3);
}
.main-nav {
    text-align: center;
    font-size:  1.2em;
    font-weight: lighter;
}
.main-nav li {
    padding: 0 5%;
}
.typo {
    display: flex;
}
.momo-typo {
    margin: 0 auto;
    width: 70%;
}
.content-box {
    background-color: #EFF1DB;
    min-height: 720px;
}
.content-section {
    font-size: 1.1em;
    color: #303030;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 1.5em;
}
.content-section h2, .content-section p {
    margin: 0;
    padding: .8em;
}
.section-header {
    font-family: 'Teko', sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 2em;
}
.dj-img {
    float: left;
    height: 40vh;
    margin: 3vw;
    border-radius: 1vw;
}
.tour-row {
    border-bottom: 1px solid #303030;
    padding-bottom: 1em;
    margin-bottom: 1em;
}
.tour-row:last-child {
    border-bottom: none;
}
.tour-item {
    display: inline-block;
    padding-right: .5em;
}
.tour-date {
    color: #202020;
    font-weight: bolder;
    width: 18%;
}
.tour-city {
    width: 30%;
}
.tour-event {
    width: 30%;
}
.tour-ticket {
    max-width: 18%;
}
.main-footer {
    background-color: #BBE7FE;
    padding: .25em 0;
}
.main-footer-container {
    display: flex;
    align-items: center;
}
.main-footer-container ul {
    flex-grow: 1;
    text-align: end;
}
.footer-nav li {
    padding: 0 .2em;
}
.footer-typo {
    height: 10vh;
}
.btn {
    text-align: center;
    vertical-align: middle;
    padding: .67em .67em;
    cursor: pointer;
    color: #303030;
    background-color: #BBE7FE;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}
.btn:hover {
    background-color: #54c2fd;
}